<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<h1>Admin, welcome spring boot security page!</h1>
<div>

    <form th:action="@{/users}">
        <input type="submit" value="Users"/>
    </form>

</div>
<br>
<hr>

<form th:action="@{/logout}">
    <input type="submit" value="Logout"/>
</form>

</body>
</html>